@model IEnumerable<cis237Assignment6.Models.Beverage>
    @{
        ViewBag.Title = "Index";
    }

    <h2>Beverage Database</h2>

    <div class="form-group">
        <fieldset>
            <legend>Search Filter</legend>
            @{
                using (Html.BeginForm("Filter", "Beverages", FormMethod.Post, new { @class = "form-inline" }))
                {
                    @Html.AntiForgeryToken()

                    <label for="name">Name</label>
                    @Html.TextBox("name", (string)ViewBag.filterName)

                    <label for="pack">Pack</label>
                    @Html.TextBox("pack", (string)ViewBag.filterPack)

                    <label for="minPrice">Min Price</label>
                    @Html.TextBox("minPrice", (string)ViewBag.filterMinPrice)

                    <label for="maxPrice">Max Price</label>
                    @Html.TextBox("maxPrice", (string)ViewBag.filterMaxPrice)

                    <br />
                    <input type="submit" value="Filter" class="btn btn-info pull-right" />
                }
            }
        </fieldset>
    </div>
    <br />
    <br />
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.active)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pack)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.active)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
